.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 30px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #313131;
}

/* Add the following CSS to display text on the navbar */
.navbar-container a {
  display: inline-block;
}

.brand-logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.hero {
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2020/07/14/13/47/clouds-5402981_960_720.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
}

.hero p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  max-width: 800px;
  margin-top: 2rem;
}

.hero-btn {
  display: block;
  text-align: center;
  background-color: #aaaaaa;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  width: 200px;
}

.hero-btn:hover {
  background-color: #ccc;
}

