<!DOCTYPE html>
<html>
  <head>
    <title>Zluqe - 404</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/errors/404.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <body>
      <div id="main">
        <div class="fof">
          <h1>Error... 404</h1>
          <p>Come back later, or maybe the file was moved. Who knows?</p>
        </div>
      </div>
    </body>
  </head>
</html>
