<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#6B1295" /> <!-- for discord embeds and such, ignore compatibility warnings-->
  <link rel="stylesheet" href="/static/css/main/dark.css"> <!-- this always has to be the first stylesheet specified-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main/dark.css') }}"> <!-- this always has to be the first stylesheet specified-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}"> <!-- this is all the actual code, the above one is for themes -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="https://panel.zluqe.com/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="https://panel.zluqe.com/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://panel.zluqe.com/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://panel.zluqe.com/favicons/manifest.json">
  <link rel="mask-icon" href="https://panel.zluqe.com/favicons/safari-pinned-tab.svg" color="#bc6e3c">
  <link rel="shortcut icon" href="https://panel.zluqe.com/favicons/favicon.ico">
  <title>Zluqe | Free bot hosting</title>
</head>
<body>
  <button type="button" class="btn shadow rounded-circle-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>
  <button type="button" class="btn shadow rounded-circle-floating btn-lg" id="theme">
    <i class="fas fa-cloud-sun" onclick="changeTheme()"></i>
  </button>
  <header class="primary-header active">
    <nav class="navbar navbar-dark container navbar-expand-lg">
      <a href="/#" class="logo navbar-brand"><p>Zluqe</p></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>             
      <div class="collapse nitem navbar-collapse active" id="navbarNav">
        <ul class="nav-list navbar-nav">
          <li class="nav-item"><a href="/#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#pricing" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#google_translate_element" class="nav-link">Languages</a></li>
          <li class="nav-item"><a href="#reviews" class="nav-link">Testimonials</a></li>
          <li class="nav-item"><a href="#faq" class="nav-link">FAQ</a></li> 
          <li class="nav-item"><a href="https://discord.gg/D8rjRN3uJQ" class="nav-link">Discord</a></li>
        </ul>
        <a href="https://panel.zluqe.com" class="d-flex button" style="text-decoration: none;">Get Started</a>&nbsp;
      </div> 
    </nav>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="display-1 text-center font-color">Staff</h1>
  <div id="content">
    <div class="chip">
        <img src="https://agentseed.org/imgs/logo-circle.png" alt="Agentseed">
        <h3 class="chip-title">Agentseed</h3>
        <a href="https://discord.com/users/687855724717801502"><h4 class="chip-link">Agentseed#6969</h4></a>
        <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/701805250524217394/694bf9cb011729853138574593a1e0f9.png?size=1024" alt="./Zerbaib.sh">
      <h3 class="chip-title">./Zerbaib.sh</h3>
      <a href="https://discord.com/users/701805250524217394"><h4 class="chip-link">./Zerbaib.sh#6400</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/1085477679995813969/807d53826c84959acc45305245f1a1f4.png?size=1024" alt="Agentseed">
      <h3 class="chip-title">Faneᴿᴼᴾ</h3>
      <a href="https://discord.com/users/1085477679995813969"><h4 class="chip-link">Faneᴿᴼᴾ#6675</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/396385154647588866/d34ea044d2892815eac1d833e601930e.png?size=1024" alt="Sydney">
      <h3 class="chip-title">Sydney</h3>
      <a href="https://discord.com/users/396385154647588866"><h4 class="chip-link">Sydney#2290</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/848724317416325160/ca48182a9a80c61860d54d5f91ec8a9c.png?size=1024" alt="OfFbeat ̥ ˊˎ-">
      <h3 class="chip-title">OfFbeat ̥ ˊˎ-</h3>
      <a href="https://discord.com/users/848724317416325160"><h4 class="chip-link">OfFbeat ̥ ˊˎ-#4035</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/1073205747938250792/67a0fec33c4055ca9657f186fdca8187.png?size=1024" alt="Vien">
      <h3 class="chip-title">Vien</h3>
      <a href="https://discord.com/users/1073205747938250792"><h4 class="chip-link">Vien#6556</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/959055077946032229/58b4d1717d09eefc3708106fd5be6629.png?size=1024" alt="xan">
      <h3 class="chip-title">xan</h3>
      <a href="https://discord.com/users/9590550779460322292"><h4 class="chip-link">xan#1206</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/640363201510244362/b9a23df093bd66a29787a5428e3625c5.png?size=1024" alt="Person0z">
      <h3 class="chip-title">Person0z</h3>
      <a href="https://discord.com/users/640363201510244362"><h4 class="chip-link">Person0z#0812</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>

    <div class="chip">
      <img src="https://cdn.discordapp.com/avatars/762931157498331157/b5f508863895acaf43d8faa8104ec89a.png?size=1024" alt="Fallen">
      <h3 class="chip-title">Fallen</h3>
      <a href="https://discord.com/users/762931157498331157"><h4 class="chip-link">Fallen</h4></a>
      <p class="chip-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, omnis?</p>
    </div>
  </div>


  <svg id="footer-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill-opacity="1" d="M0,160L21.8,133.3C43.6,107,87,53,131,58.7C174.5,64,218,128,262,154.7C305.5,181,349,171,393,186.7C436.4,203,480,245,524,250.7C567.3,256,611,224,655,176C698.2,128,742,64,785,53.3C829.1,43,873,85,916,106.7C960,128,1004,128,1047,117.3C1090.9,107,1135,85,1178,96C1221.8,107,1265,149,1309,154.7C1352.7,160,1396,128,1418,112L1440,96L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z" style="--darkreader-inline-fill: #6B1295;" data-darkreader-inline-fill=""></path></svg>
  <div id="footer-container">
    <div class="container font-color-white"  id="footer">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
        <div class="col mb-3">
          <p>&copy; Zluqe 2023 | All Rights Reserved</p>
        </div>
        <div class="col mb-3"></div>
        <div class="col mb-3">
          <ul class="nav flex-column">
            <h5>Legal</h5>
            
            <li class="nav-item mb-2"><a href="terms.pdf" class="nav-link p-0 text-muted hover-underline-white">Terms of Service</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted hover-underline-white">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col mb-3" >
          <h5>Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted hover-underline-white">Home</a></li>
            <li class="nav-item mb-2"><a href="#pricing" class="nav-link p-0 text-muted hover-underline-white">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#google_translate_element" class="nav-link p-0 text-muted hover-underline-white">Languages</a></li>
            <li class="nav-item mb-2"><a href="#reviews" class="nav-link p-0 text-muted hover-underline-white">Testimonials</a></li>
            <li class="nav-item mb-2"><a href="#faq" class="nav-link p-0 text-muted hover-underline-white">FAQs</a></li>
          </ul>
        </div>
        <div class="col mb-3" >
          <h5>Follow us</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="https://discord.gg/D8rjRN3uJQ" class="nav-link p-0 text-muted hover-underline-white">Discord</a></li>
            <li class="nav-item mb-2"><a href="https://github.com/Zluqe" class="nav-link p-0 text-muted hover-underline-white">Githubs</a></li>
            </ul>
            <div class="nav-item mb-2" id="google_translate_element"></div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src="https://kit.fontawesome.com/3dd1a4167f.js" crossorigin="anonymous"></script>
  <script>
    const isScrolling = () => {
  const headerEl = document.querySelector('.primary-header')
  const navItems = document.querySelector('.nitem')
  let windowPosition = window.scrollY > 0
  
}
window.addEventListener('scroll', isScrolling)
let btntotop = document.getElementById("btn-back-to-top");

// When the user scrolls down 50px from the top of the document, show the button
window.onscroll = function () {
scrollFunction();
};

function scrollFunction() {
if (
  document.body.scrollTop > 50 ||
  document.documentElement.scrollTop > 50
) {
  btntotop.style.display = "block";
} else {
  btntotop.style.display = "none";
}
}
// When the user clicks on the button, scroll to the top of the document
btntotop.addEventListener("click", backToTop);

function backToTop() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}

function googleTranslateElementInit() {  
new google.translate.TranslateElement(  
    {pageLanguage: 'en'},  
    'google_translate_element'  
);  
} 

//--------------------------
// Agentseed's theme changer
//--------------------------
var theme = localStorage.getItem("theme");
var stylesheet = document.getElementsByTagName('link')[0]; // gets the first link element (should be the site stylesheet)
if (theme != 'dark' && theme != 'light') {
  localStorage.setItem("theme", "dark");
  theme = localStorage.getItem("theme");
} else {
  theme = localStorage.getItem("theme");
}
if(theme == 'dark') {
  setThemeDark();
} else if (theme == 'light'){
  setThemeLight();
}
function changeTheme() {
  if (theme == 'dark') {
      setThemeLight();
  } else if (theme == 'light') {
      setThemeDark();
  }
}
function setThemeDark() {
stylesheet.setAttribute('href', "/static/css/main/dark.css")
  localStorage.setItem("theme", "dark"); // sets the localstorage element "theme" to dark
  theme = 'dark'; // sets theme to dark
}
function setThemeLight() {
  stylesheet.setAttribute('href', "/static/css/main/light.css")
  localStorage.setItem("theme", "light") // sets the localstorage element "theme" to light
  theme = 'light'; // sets theme to light
}

  </script>

</body>
</html>