* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background: #151515;
}
a {
    text-decoration: none;
    color: inherit;
}
/* End general styles */
.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.5s;
}
.nitem{
    transition: all 0.5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}
.navbar {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    transition: height 0.25s;
}
.logo {
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: auto;
}
.nav-link {
    transition: color 0.25s;
}
.nav-link:hover {
    color: #d3d3d3;
}
.button {
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.25s;
}
.button:hover {
    background-color: #d3d3d3;
}
header.active {
    background-color: #000;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.active {
    background-color: #000;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header.active .navbar {
    height: 6rem;
}
header.active .logo,
header.active .nav-link {
    color: #fff;
}
header.active .nav-link:hover {
    color: #808080;
}
header.active .button {
    background-color: #313131;
    color: #fff;
}
header.active .button:hover {
    background-color: #151515;
}

/* Hero Demo Content*/
.hero {
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.hero p {
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 30pt;
    color: white;
}

.hero::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.demo-content {
    width: 100%;
    height: 200vh;
    background-color: #151515;
}
/* Hero end*/

/* Removes navbar-toggler border */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus ,
.navbar-toggler,
.navbar-toggler-icon{
    border: none; 
    outline: none;
    box-shadow: none;
}