:root {
  --accent: #6B1295;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background: #151515;
}
a {
    text-decoration: none;
    color: inherit;
}
.font-title {
  font-size: 30pt;
}
.font-header {
  font-size: 25pt;
}
.font-normal {
  font-size: 13pt;
}
.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent);
}
.hover-underline-white:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}
#top-divider {
  transform: translateY(-100%);
}
/* End general styles */
.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  }
  .nitem{
    transition: all 0.5s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
  }
  .container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
  .navbar {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    transition: height 0.25s;
  }
  .logo {
    font-size: 2.5rem;
    font-weight: 900;
  }
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 5rem;
  margin-right: auto;
}
.nav-link {
  transition: color 0.25s;
}
.nav-link:hover {
  color: #d3d3d3;
}
.button {
  display: inline-block;
  background-color: #fff;
  color: #313131;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: var(--accent);
  color: #fff;
}
header.active {
  background-color: #000;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.active {
  background-color: #000;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header.active .navbar {
  height: 6rem;
}
header.active .logo,
header.active .nav-link {
  color: #fff;
}
header.active .nav-link:hover {
  color: #808080;
}
header.active .button {
  color: #313131;
  background-color: #fff;
}
header.active .button:hover {
  background-color: var(--accent);
  color: #fff;
}

/* Hero Demo Content*/
.hero {
  width: 100%;
  height: 110vh;
  /* background: url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9') center no-repeat; */
  background: url('https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
  }
  .hero p {
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 30pt;
    color: white;
  }
  
  .hero::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .demo-content {
    width: 100%;
    height: 200vh;
    background-color: #151515;
  }
  /* Hero end*/
  
  /* Removes navbar-toggler border */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus ,
.navbar-toggler,
.navbar-toggler-icon{
  border: none; 
  outline: none;
  box-shadow: none;
}
/* faq grid */
.faq-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 70%;
  margin-left: 15%;
}
#faq {
  background-color: var(--accent);
}
#faq-container {
  transform: translateY(-30%);
}
/* these two are really important, if you remove them there's these really annoying 1px gaps for some strange reason */
#faq-divider-top {
  transform: translateY(1px);
}
#faq-divider-bottom {
  transform: translateY(-1px);
}
  
  .faq-div1 { grid-area: 1 / 1 / 2 / 2; }
  .faq-div2 { grid-area: 1 / 2 / 2 / 3; }
  .faq-div3 { grid-area: 2 / 1 / 3 / 2; }
  .faq-div4 { grid-area: 2 / 2 / 3 / 3; }
  .faq-div5 { grid-area: 3 / 1 / 4 / 2; }
  .faq-div6 { grid-area: 3 / 2 / 4 / 3; }
/* features */
#features {
  min-height: 300px;
  transform: translateY(-100%);
}
.features-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
  .features-div1 { grid-area: 1 / 1 / 2 / 2; }
  .features-div2 { grid-area: 1 / 2 / 2 / 3; }
  .features-div3 { grid-area: 2 / 1 / 3 / 2; }
  .features-div4 { grid-area: 2 / 2 / 3 / 3; }
/* pricing */
.pricing-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
  .pricing-div1 { grid-area: 1 / 1 / 2 / 2; }
  .pricing-div2 { grid-area: 1 / 2 / 2 / 3; }
  .pricing-div3 { grid-area: 1 / 3 / 2 / 4; }
  
/* footer */
/* .site-footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 3rem 0;
    margin-top: 3rem;
    position: absolute !important;
    bottom: 0px;
  }
  
  .site-footer h2,
  .site-footer h3 {
    color: #fff;
  }
  
  .site-footer p {
    color: #fff;
    opacity: 0.8;
  }
  
  .site-footer hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 2rem 0;
  }
  
  .footer-links li {
    margin-bottom: 1rem;
  }
  
  .footer-links a {
    color: #fff;
    opacity: 0.8;
  }
  
  .footer-links a:hover {
    opacity: 1;
  }
  
  .footer-social-links li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .footer-social-links a {
    color: #fff;
    opacity: 0.8;
  }
  
  .footer-social-links a:hover {
    opacity: 1;
  }
  
  @media (max-width: 767px) {
    .site-footer .container {
      margin-bottom: 2rem;
    }
  
    .site-footer h3 {
      margin-top: 2rem;
    }
  
    .footer-links {
      margin-bottom: 2rem;
    }
  }
  
  @media (min-width: 768px) {
    .site-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  } */
  .testimonials {
    padding: 100px 0;
  }
  .testimonials h3 {
    margin-bottom: 20px;
  }
  .testimonials .card {
    background-color: #313131 !important; 
    border: none;
    border-bottom: 3px #560e77 solid !important;
    transition: 0.5s;
    margin-top: 60px;
  }
  .testimonials .card i {
    background-color: #560e77;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }
