:root {
    --accent: #6B1295;
    --accent-dark:#560e77;
  }
  body {
      font-size: 1.4rem;
      color: #fff;
      background: #151515;
  }
  .hover-underline:hover {
    text-decoration-color: var(--accent);
  }
  .hover-underline-white:hover {
    text-decoration-color: #fff;
  }
  .nav-link {
    transition: color 0.25s;
  }
  .nav-link:hover {
    color: #d3d3d3;
  }
  .button {
    background-color: #fff;
    color: #313131;
  }
  .button:hover {
    background-color: var(--accent);
    color: #fff;
  }
  .active {
    background-color: #000;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }
  header.active .logo,
  header.active .nav-link {
    color: #fff;
  }
  header.active .nav-link:hover {
    color: #808080;
  }
  header.active .button {
    color: #313131;
    background-color: #fff;
  }
  header.active .button:hover {
    background-color: var(--accent);
    color: #fff;
  }
    .hero p {
      color: white;
    }
    
    .hero::after {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .demo-content {
      background-color: #151515;
    }
  #faq {
    background-color: var(--accent);
    color: white;
  }
    .testimonials .card {
      background-color: #313131 !important; 
      border-bottom: 3px var(--accent-dark) solid !important;
    }
    .testimonials .card i {
      background-color: var(--accent-dark);
      color: #ffffff;
    }
    #btn-back-to-top {
      color:white;
      background-color: var(--accent-dark) !important;
    }
    #btn-back-to-top:hover {
      background-color: var(--accent) !important;
    }
    .price-col{
      background-color: var(--accent);
    }
    .price-col ul li::before{
      color: #e33058;
    }
    .price-col button{
      border: 1.5px solid var(--accent-dark);
      color: #fff;
      background-color: var(--accent);
    }
    .price-col button:hover{
      background-color: var(--accent-dark);
    }
    #top-divider {
      fill: white /* testing */;
    }
    #faq-divider-top {
      fill: var(--accent);
    }
    #faq-divider-bottom {
      fill: var(--accent);
    }
    #footer {
        color: #151515 !important;
    }
    .font-color {
        color: black !important;
    }
    .font-color a {
        color: black !important;
    }
    .font-color-white {
      color: white;
    }
    .material-symbols-outlined {
      color: white;
      text-decoration-color: white !important;
    }
      