:root {
  --accent: #6B1295;
  --accent-dark:#560e77;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  html {
      font-size: 62.5%;
  }
  body {
      font-family: 'Poppins', sans-serif;
      font-size: 1.4rem;
  }
  a {
      text-decoration: none;
      color: inherit;
  }
  .font-title {
    font-size: 4.1662rem;
  }
  .font-header {
    font-size: 2.0831rem;
  }
  .font-normal {
    font-size:  1.0831rem;
  }
  .hover-underline:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
  }
  .hover-underline-white:hover {
    text-decoration: underline;
  }
  #top-divider {
    transform: translateY(-99%);
  }
  /* End general styles */
  .primary-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: background-color 0.5s;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: transparent;
    }
    .nitem{
      transition: all 0.5s;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      
    }
    .container {
      max-width: 120rem;
      margin-inline: auto;
      padding-inline: 1.5rem;
    }
    .navbar {
/*      height: 7.5rem;*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid rgba(255, 255, 255, 0.05);
      transition: height 0.25s;
    }
    .logo {
      font-size: 2.5rem;
      font-weight: 900;
    }
    .nav-list {
      list-style: none;
    display: flex;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: auto;
  }
  .nav-link {
    transition: color 0.25s;
  }
  .button {
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.25s;
    box-shadow: 0px 0px 10px 0px white; 
  }
  .button:hover {
    box-shadow: 0px 0px 10px 0px var(--accent);
  }
  header.active {
    background-color: #000;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }
  .active {
    background-color: #000;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }
/*  header.active .navbar {
    height: 7.5rem;
  }*/
  header.active .button:hover {
    background-color: var(--accent);
  }
  
  /* Hero Demo Content*/
  .hero {
    width: 100%;
    height: 110vh;
    backdrop-filter: brightness(60%);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    /* font-family: 'Orbitron', sans-serif; */
    color: white;
    background: url('https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #hero-title {
    font-weight: 500;
  }
  #hero-content {
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 50rem;
    margin-left: 50%;
  }
  #hero-button {
    font-family: 'Poppins', sans-serif;
    font-size: 14pt;
    border: none;
  }
  /* .hero::after {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  } */
  .hero-text {
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
  }
    
    /* Hero end*/
    
    /* Removes navbar-toggler border */
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus ,
  .navbar-toggler,
  .navbar-toggler-icon{
    border: none; 
    outline: none;
    box-shadow: none;
  }
  /* faq grid */
  .faq-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 70%;
    margin-left: 15%;
  }
  #faq {
    background-color: var(--accent);
    
  }
  #faq-container {
    transform: translateY(-20%);
  }
  /* these two are really important, if you remove them there's these really annoying 1px gaps for some strange reason */
  #faq-divider-top {
    transform: translateY(1px);
  }
  #faq-divider-bottom {
    transform: translateY(-1px);
  }
    
    .faq-div1 { grid-area: 1 / 1 / 2 / 2; }
    .faq-div2 { grid-area: 1 / 2 / 2 / 3; }
    .faq-div3 { grid-area: 2 / 1 / 3 / 2; }
    .faq-div4 { grid-area: 2 / 2 / 3 / 3; }
    .faq-div5 { grid-area: 3 / 1 / 4 / 2; }
    .faq-div6 { grid-area: 3 / 2 / 4 / 3; }
  /* features */
  #features {
    transform: translateY(-15rem);
  }
  .features-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .features-div1 { grid-area: 1 / 1 / 2 / 2; }
    .features-div2 { grid-area: 1 / 2 / 2 / 3; }
    .features-div3 { grid-area: 2 / 1 / 3 / 2; }
    .features-div4 { grid-area: 2 / 2 / 3 / 3; }
  /* pricing */
  .pricing-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .pricing-div1 { grid-area: 1 / 1 / 2 / 2; }
    .pricing-div2 { grid-area: 1 / 2 / 2 / 3; }
    .pricing-div3 { grid-area: 1 / 3 / 2 / 4; }
    
    .testimonials {
      padding: 100px 0;
    }
    .testimonials h3 {
      margin-bottom: 20px;
    }
    .testimonials .card {
      background-color: #313131 !important; 
      border: none;
      border-bottom: 3px var(--accent-dark) solid !important;
      transition: 0.5s;
      margin-top: 60px;
    }
    .testimonials .card i {
      background-color: var(--accent-dark);
      color: #ffffff;
      width: 75px;
      height: 75px;
      line-height: 75px;
      margin: -40px auto 0 auto;
    }
    #btn-back-to-top {
      border-radius: 100% !important;
      color:white;
      background-color: var(--accent-dark) !important;
      position: fixed;
      bottom: 20px;
      right: 20px;
      transition: all 0.5s;
      display: none;
      z-index: 99999;
    }
    #btn-back-to-top:hover {
      background-color: var(--accent) !important;
    }
    #theme {
      border-radius: 100% !important;
      color:white;
      background-color: var(--accent-dark) !important;
      position: fixed;
      bottom: 60px;
      right: 20px;
      transition: all 0.5s;
      display: block;
      z-index: 99999;
    }
    .price-row{
      width:90%;
      max-width:1100px;
      margin:auto;
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 25px;
    }
    .price-col{
      background-color: var(--accent);
      padding:10% 15%;
      border-radius: 10px;
      transition: all 0.5s;
    }
    .price-col h3{
      font-size: 5rem;
      font-weight: bold;
    }
    .price-col h3 span{
      font-size: 2rem;
      font-weight: normal;
    }
    .price-col ul{
      text-align:left;
      margin:20px 0;
    }
    .price-col ul li{
      margin:15px 0 ;
      list-style: none;
    }
    .price-col:hover{
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .price-col ul li::before{
      content: "\2022";
      font-weight: bold;
      margin-right:8px;
    }
    .price-col button{
      border: 1.5px solid var(--accent-dark);
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s;
      background-color: var(--accent);
    }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    text-decoration: none !important;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  .base-fontsize {
    font-size: 14pt;
}
body {
    font-size: 14pt;
}
p, li, a {
    font-size: 14pt;
}
a.logo.navbar-brand p {
    font-size: 20pt;
}
#footer-wave {
  transform: translateY(31px);
}
#footer-wave path {
  fill: var(--accent);
  
}
#footer-container {
  background-color: var(--accent);
}

/* for staff.html */
#content {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 50rem;
}
.chip {
  background: rgb(33,0,75);
  background: linear-gradient(45deg, rgba(33,0,75,1), rgb(24, 0, 55), rgba(97,0,219,1), rgba(255,0,224,1), rgba(0,0,0,1) 100%); 
  background-size: 1000% 1000%;
  background-position: 0%, 0%;
  transition: 500ms;

  width: 1fr;
  height: 45rem;
  color: white;
  text-align: center;

  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  margin-bottom: 50rem;

}
.chip:hover {
  background-position: 80%, 80%;
  transform: scale(110%);
}
.chip img {
  max-width: 15rem;
  border-radius: 50%;
}
.chip-title {
  font-size: 30pt;
  font-weight: normal;
}
.chip-link {
  font-size: 15pt;
  color: gray;
}
.chip a {
  text-decoration: none;
}
