/*TODO: copy everything from here into both light.css and dark.css, ooooor make only color sensitive parts in dark and light stylesheets? */
.base-fontsize {
    font-size: 14pt;
}
body {
    font-size: 14pt;
}
p, li, a {
    font-size: 14pt;
}
a.logo.navbar-brand p {
    font-size: 20pt;
}
.hero {
font-family: 'Orbitron', sans-serif;
}